html, body {
    background-color: #173840;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    position: relative;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}


.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.top-left {
    position: absolute;
    right: 60px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #BF1111;
    font-size: 14px;
    position: relative;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
}

.links > a:hover {
    border-bottom: 3px solid #173840;
}

.m-b-md {
    margin-bottom: 30px;
}

.cls-1{
    fill:none;
    stroke:#BF1111;
    stroke-width: 4px;
    -webkit-box-shadow: 0px 0px 125px 7px rgba(255,0,0,0.91);
    -moz-box-shadow: 0px 0px 125px 7px rgba(255,0,0,0.91);
    box-shadow: 0px 0px 125px 7px rgba(255,0,0,0.91);
}

.text-center{
	color:#fff;
    font-size: 15px;
    display: block;
    text-align: center;
}
.box{
	position:absolute;
	left:50%;
	top:45%;
	transform: translate(-50%,-50%);
    background-color: #011C26;
	border-radius:3px;
  padding:70px 100px;
  border-bottom:3px solid #BF1111;
}
.input-container{
	position:relative;
	margin-bottom:30px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
    pointer-event:none;
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #BF1111;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color: white;
}

input{ 
  border:0;
  border-bottom:1px solid #BF1111;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
}

.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}

.btn{
	color:#fff;
	background-color:#e74c3c;
	outline: none;
    border: 0;
    color: #fff;
	text-transform:uppercase;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-16px;
	font-size:12px;
	
}

input[type=checkbox]:checked + label:before {
  content: "";
  color: #ffffff;
  background-color: #ff0000;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.delete {
    display: none;
    transition: display 0s 1s;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1000ms linear;
}

.logoNav{
    visibility: hidden;
}

.card-shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}
  
.card:hover {
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.price {
    color :#BF1111;
    font-size: 1.3rem;
}

.img-shadow {
    box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 3px 4px rgba(0,0,0,0.24);
    transition: 0.3s cubic-bezier(.25,.8,.25,1);
}

.img-shadow:hover {
    box-shadow: 0 14px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: scale(1.2);
}

.spacer {
    height: 10px;
    background: 0 0;
}




.red-icon {
    transition: 0.3s ;
    color :#BF1111;
}

.red-icon:hover {
    color :#8C1F1F;
    transform: scale(1.2)
}

.fa-eye {
    color :#F2F2F2;
}

.fa-eye:hover {
    color :#636b6f;
}

.fakebtn {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding : 0;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    line-height: 1.6;
}

.solde {
    color: #BF1111;
    display: block;
    padding: 0.7rem 1rem;
    
}

.solde:hover {
    color: #BF1111;
    text-decoration: none;
}

.select {
    color: #fff;
    background : #173840;
    border: 2px solid #BF1111;
    border-radius: 10px;
    -webkit-appearance:none;
    width:3rem;
    transition: 0.3s;
}

.page-footer {
    background-color: #011C26;
    bottom: 0;
    width: 100%;
    height: 60px;
    position: absolute;;
}