html, body {
    background-color: #173840;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}


.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.top-left {
    position: absolute;
    right: 60px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #BF1111;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.cls-1{
    fill:none;
    stroke:#BF1111;
    stroke-width: 4px;
    -webkit-box-shadow: 0px 0px 125px 7px rgba(255,0,0,0.91);
    -moz-box-shadow: 0px 0px 125px 7px rgba(255,0,0,0.91);
    box-shadow: 0px 0px 125px 7px rgba(255,0,0,0.91);
}

.text-center{
	color:#fff;
    font-size: 23px;
    display: block;
    text-align: center;
}
.box{
	position:absolute;
	left:50%;
	top:45%;
	transform: translate(-50%,-50%);
    background-color: #011C26;
	border-radius:3px;
  padding:70px 100px;
  border-bottom:3px solid #BF1111;
}
.input-container{
	position:relative;
	margin-bottom:30px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
    pointer-event:none;
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #BF1111;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color: white;
}

input{ 
  border:0;
  border-bottom:1px solid #BF1111;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
}

.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}

.btn{
	color:#fff;
	background-color:#e74c3c;
	outline: none;
    border: 0;
    color: #fff;
	text-transform:uppercase;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-16px;
	font-size:12px;
	
}

input[type=checkbox]:checked + label:before {
  content: "";
  color: #ffffff;
  background-color: #ff0000;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.delete {
    display: none;
    transition: display 0s 1s;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1000ms linear;
}

.logoNav{
    visibility: hidden;
}

.card-shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}
  
.card:hover {
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.price {
    color :#BF1111;
    font-size: 1.3rem;
}

.tr-shadow {
    -webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,.03);
    -moz-box-shadow: 0 10px 20px 0 rgba(0,0,0,.03);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.03);
}

.table-data2 {
    border-collapse: collapse;
    overflow: visible;
}

.table-data2 .spacer {
    height: 5px;
    background: 0 0;
}

.table-data2.table tbody tr td:last-child {
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    padding-right: 35px;
}

.table-data2.table tbody td {
    font-size: 14px;
    color: #F2F2F2;
    vertical-align: middle;
    align-items: center;
    border: none;
}

.page-footer {
    background-color: #011C26;
}

